<div class="signature">
    <hr />
    Cody Merritt Anhorn
    <div>
        <span class="bold">Email: </span>
        <a
            class="contact"
            href="mailto:cody.anhorn+blog@hotmail.com?subject=Feedback"
            target="_top"
            title="Contact me with any feedback or comments."
        >
            cody.anhorn@hotmail.com
        </a>
    </div>
    <div class="signature__social">
        <a
            class="signature__social--icon"
            href="https://twitter.com/CodyAnhorn"
            target="_blank"
            title="Link to Cody Anhorn's Twitter"
        >
            <i class="fab fa-twitter"></i>
        </a>
        <a
            class="signature__social--icon"
            href="https://discord.gg/gYs8YMy"
            target="_blank"
            title="Link to Cody Anhorn's Discord Server"
        >
            <i class="fab fa-discord"> </i>
        </a>
        <a
            class="signature__social--icon"
            href="https://github.com/canhorn"
            target="_blank"
            title="Link to Cody Anhorn's GitHub"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>
