<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="monetization" content="$ilp.uphold.com/bqZhwxY2Eg82">
    <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include analytics.html %}
</head>

<body>
    <a class="skip-main" href="#content">Skip to main content</a>

    <nav class="nav-menu">
        <div class="nav-menu__brand">Cody Merritt Anhorn</div>
        <button class="nav-menu-hamburger" 
                aria-expanded="false" 
                aria-label="Menu Toggle"
                onclick="ToggleNavMenuList()">
            <span class="nav-menu-hamburger__text">
                <i class="fas fa-bars"></i> Menu
            </span>
        </button>
        <script>
            function ToggleNavMenuList()
            {
                const list = document.querySelector(".nav-menu__list");
                if (list.classList.contains("--hidden")) {
                    list.classList.remove("--hidden");
                } else {
                    list.classList.add("--hidden");
                }
            }
        </script>
        <ul class="nav-menu__list --hidden">
        {% for item in site.data.navigation %}
            <li class="nav-menu__list-item">
                <a class="nav-menu__list-item-link {% if page.url == item.link %}--active{% endif %}" id="link-{{ item.id }}" href="{{ item.link }}">
                {{ item.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
    <main id="content" class="main-content" role="main">
        {{ content }}
    </main>
    <footer>
        <a
            class="contact"
            href="mailto:cody.anhorn+blog@hotmail.com"
            target="_top"
            title="Contact me with any feedback or comments."
        >Cody Merritt Anhorn</a>
        | All Rights Reserved | 
        <a
            href="/privacy-policy"
            target="_top"
            title="Checkout this sites Privacy Policy here."
        >Privacy Policy</a>
    </footer>
    {% include analytics_end.html %}
</body>

</html>
